.center {
    text-align:left;
}

.center-page{
    width:300px;
    height:300px;
    position:absolute;

    top:0;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}
.space-vert{
    margin-top:20px;
}
body{
    padding-top:100px;
}
